<div class="conteiner content">
    <div class="row">
        <div class="col-md-6">
            HOLA
        </div>
        <div class="col-md-6">
            LEANDRITO CRUZ
        </div>
    </div>
</div>
