<form [formGroup]="fg" 
      (ngSubmit)="guardar(fg.controls['apellido'].value, fg.controls['temperatura'].value)">
    <div class="form-group">
      <label for="nombre">Apellido</label>
      <input type="text" class="form-control" id="apellido" placeholder="Ingresar Apellido" [formControls]="fg.controls['apellido']">
    </div>
    
    <div class="form-group">
      <label for="Imagen Url">Temperatura</label>
      <input type="text" class="form-control" id="temperatura" placeholder="Ingresar temperatura..." [formControls]="fg.controls['temperatura']">
    </div>
    <button type="submit" class="btn btn-primary">Guardar!</button>
  </form>
