
       



    
       <li> <span><h4>{{ ingreso.apellido }}</h4></span></li>
    
    
       <li> <h3>{{ ingreso.temperatura }}</h3></li>
        <a href="#" class="btn-card" (click)="marcar()">Marcar Acceso</a><br>
        <span [style.display]="ingreso.isSelected()? '' : 'none'">ACCESO PERMITIDO</span>
