<h2>Mi Lista de Heroes</h2>
<h2>{{hero.nombre}} Detalles</h2>
<div>
    <label>name:
    <input [(ngModel)]="hero.nombre" placeholder="name">
    </label>
    </div>

    <ul class="heroes">
        <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.nombre}}
        </li>
        </ul>