<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>

            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Ingreso de Empleados-Prevención COVID 19</h3>
                </div>
                <div class="card-body">
                    <app-forms-ingreso-personas (onItemAdded)="agregado($event)"></app-forms-ingreso-personas>
                   
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <app-ingreso-empleado *ngFor="let d of ingresos" [ingreso]="d" (clicked)="elegido(d)"></app-ingreso-empleado>
    </div>

    <hr class="mb-5">

    <div class="row row-flex">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>

</div>
